{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div id="detail" >
    {% block sale_id %}
            <p>Id de la compra: {{ sale_id }}</p>
    {% endblock %}
    {% block date %}
        <p>Fecha de compra: {{ date }}</p>
    {% endblock %}
    {% block detail_list %}
        <ul class="detail-list p">
            {% for detail in detail_list %}
                <li class="detail">
                    <p>Nombre: {{ detail.p_name }}</p>
                    <p class="detail-amount">Cantidad: {{ detail.amount }}</p>
                    <p>Vendedor: {{ detail.seller }}</p>
                    <p class="price">Precio: ${{ detail.price }}</p>
                </li>
            {% endfor %}
        </ul>
    {% endblock %}
    <p id="detail-total"></p>
    <button id="go-home" class="btn btn-secondary">Volver</button>
    </div>
{% endblock %}

{% block js_file %}{% static 'detail.js' %}{% endblock %}