{% extends 'base.html' %}

{% load static %}

{% block carrito%}
    <img id="carrito" src="{% static 'carrito.png' %}" alt="Carrito" href="login.html">
{% endblock %}

{% block history %}
    {% if user_name %}
        <button id="history" class="header btn btn-secondary" style="grid-row: 1 / span 2; grid-column: 5;">Ver historial</button>
    {% endif %}
{% endblock %}

{% block sale %}
    {% if sale %}
        <div id="sale">
            <button id="close"class="btn btn-secondary"><img src="{% static 'close.png' %}" alt=""></button>
            <h2>¡Compra completada de manera exitosa!</h2>
            <p id="sale-id">Id de la compra: {{ sale.id }}</p>
            <p id="sale-date">Fecha de la compra: <time datetime="{{ sale.date }}">{{ sale.date }}</time></p>
            <button id="see-detail" class="btn btn-secondary">Ver detalle</button>
        </div>
    {% endif %}
{% endblock %}
{% block content %}
{% if products %}
<ul class='p' id="products">
    {% for product in products %}
    <li class="item obj-{{ product.id }}">
        <img src="{{ product.picture }}" alt="Product image">
        <p class="name">{{ product.name }}</p>
        <p class="price">Precio: ${{ product.price }}</p>
        <button class="btn btn-secondary">Agregar a carrito</button>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>No se encontraron productos</p>
{% endif %}
{% endblock %}

{% block js_file %}{% static 'home.js' %}{% endblock %}